<h1>New Calculation:</h1>
<%= form_tag(calculations_path, method: "post") do %>
  <%= label_tag(:inputs, "Calculate Here (eg: '2 x 2'):") %>
  <%= text_field_tag(:inputs) %>
  <%= submit_tag("Calculate!") %>
<% end %>
