<h1>Calculated Value:</h1>
<p>
  The following was calculated:
</p>
<p>
  <%= @calc.inputs %>
</p>
<p>
  and here is the result:
</p>
<p>
  <%= @calc.output %>
</p>

<%= link_to "Start a new calculation", calculations_new_path %>